$font-stack: sans-serif 20px;
.etchCanvas {
    background: white;
}

#ColiDiv {
    position: absolute;
    left: 21.8%;
    padding: 10px;
    width: 20.1%;
    background: #444;
    z-index: 999;
}

#ColiDiv a {
    padding: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
}

.hidden {
    position: absolute;
    left: -99999;
    top: 0;
    width: 0;
    height: 0;
    z-index: -1234123;
    overflow: hidden;
}

#ColiDiv a:hover {
    background: #666;
}